/* You can add global styles to this file, and also import other style files */
/* Import for reset all browser styles and font family from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

$blue: #0080ff;
$royal: royalblue;
$dark: darkblue;

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	min-width: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
}
body {
	font-family: 'Poppins', sans-serif;
	line-height: 2;
	background: whitesmoke;
}
a {
	text-decoration: none;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
div {
	margin: 0;
	padding: 0;
}
h2 {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	padding: 0;
}
.owl-theme {
	.owl-nav {
		.owl-next {
			padding: 5px 20px;
			background-color: $blue;
			cursor: pointer;
			color: #fff;
			border: 1px solid $blue;
			border-radius: 5px;
			&:hover {
				background: $royal;
				border-color: $dark;
			}
		}
		.owl-prev {
			padding: 5px 20px;
			background-color: $blue;
			cursor: pointer;
			color: #fff;
			border: 1px solid $blue;
			border-radius: 5px;
			&:hover {
				background: $royal;
				border-color: $dark;
			}
		}
	}
}
